
/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
   
body{
    margin: 0;
    font-family: Roboto;
}

.uppercase {
text-transform: uppercase;
}
 
.bold {
font-weight: bold;
}

@font-face {
    font-family:Roboto-bold;
    src:url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto-thin;
    src:url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family:Roboto-light;
    src:url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:Roboto-regular;
    src:url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:Roboto-light-italic;
    src:url(../fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family:Roboto-medium;
    src:url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family:Roboto-italic;
    src:url(../fonts/Roboto-Italic.ttf);
}
.bold
{
	font-family:Roboto-bold;
}
.light
{
	font-family:Roboto-light;
}
.thin
{
	font-family:Roboto-thin;
}
.medium
{
	font-family:Roboto-medium;
}
.regular
{
	font-family:Roboto-regular;
}
.light-italic
{
	font-family:Roboto-light-italic;
}

.hotline{
    float: left;    
    font-size: 12px;
    padding-left: 50px;
}
.clear{
    clear: both;
}
.menu-first
{
    float: right;
}
.menu-first ul
{

    padding-right: 15px;
    margin-top: 0;
}
.menu-first ul li{

    float: left;
    display: block;
    margin-right: 20px;
}
.menu-first ul li a{

    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: black
}
.menu-first ul li a:hover
{
    color: red;
}
.brand
{
	width:150px;
	background:url(../img/1.jpg) top left;
	background-size:cover;
	
}

.menu-2
{
	margin-bottom:0;
}
.menu-second
{
    width: 100%;
    height: 35px;
}
.menu-second ul li{
    float: left;
    display: block;
    line-height: 35px;  
    padding: 15px;  
    
}
.menu-second ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.menu-second ul li input[type="text"]{
    height: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #CCC;
}
.new_product
{
    padding: 15px;
}
.canh-giua
{
	
  display: flex;
  justify-content: center;
  align-items: center;
}


.ao{
    margin-top: 20px; 
	
}
.ao-thun
{
	
    transition: all 1s;
	
}

.ao-thun:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.ao .ao-thun a img{
    
}

/*.new_product
{
	overflow:hidden;
}*/
.new_product .cap
{
    float: right;
    width: 500px;
}
.new_product .cap li{
}

.new_product .cap li a{
    font-size: 20px;
}

.details
{
	text-align:center;
	
}
.details p
{
	font-size:13px;
}
.details h4
{
	font-size:15px;
}
.details h3
{
	font-family: 'Jockey One', sans-serif;
	font-size:20px;
	line-height:0px;
}


.sub_product
{
	padding:60px 15px 60px 15px;
	
	
	overflow:hidden;
}

.cate
{
	border-bottom:1px solid #C0C0C0;
}
.cate h4
{
	width:110px;
	height:30px;
	margin:0px;
	border-bottom:3px solid #339;
}
.show 
{
	
	border-bottom:1px solid #CCC;
	
	margin:15px auto;
	
	
	height:230px;
}
.trai
{
	float:left;
	width:100%;
	
	
}
.trai img{
	
	
	border-radius:7px;
	margin-top:10px;
	transition:all 1s;
	
}

.show:hover
{
	border-radius:5px;
	border:1px thin #CCC;
	box-shadow:0px 0px 6px #CCCCCC;
}

.show:hover .trai a img
{
	transform:scale(1.1);
}

.right
{
	float:right;
	width:100%
	
}
.right a p 
{
	color:black;
	text-decoration:none;
	list-style-type:none;
	margin-top:10px;
}

.right h4
{
	font-family: 'Jockey One', sans-serif;
}
.right a
{
	
}

.footer
{
	background-color:#282321;
	color:#fff;
	padding:50px 15px;
	overflow:hidden;
}

.footer_newsletter
{
	width:70%;
	margin:0 auto;
	
}

.footer_newsletter form
{
	color:#343434;
	height:80px;
	line-height:80px;
	background-color:#362D2E;
}
	
.footer_newsletter form #mail
{
	width:70%;
	border:transparent;
	font-size:16px;
	height:80px;
	line-height:80px;
	padding:0 30px;
	margin:0px;
	float:left;
	color:#666;
	background-color:#362D2E;
}

.footer_newsletter form #sbmit
{
	width:23%;
	border:1px solid #d28409;
	border-radius:5px;
	font-size:16px;
	color:#FFF;
	padding:22px;
	line-height:0px;
	margin-right:13px;
	background-color:#F5A019;
}
.footer_newsletter form:active #mail
{
	border:none;
}

.footer_content
{
	overflow:hidden;
}
.footer_content h4
{
	color:#FFC05B;
	font-size:14px;
}
.footer_content .address
{
	padding-left:15px;
}

.tags
{
	padding:0px;
	
}
.tags li
{
	list-style-type:none;
	margin-right:5px;
	margin-bottom:8px;
	padding:10px 0 ;
	display:inline-block;
}
.tags li a
{
	border:1px solid #343434;
	padding:10px;
	font-weight:500;
	text-decoration:none;
	color:#fff;
	
}
.tags li a:hover
{
	background-color:#FFC05B;
} 
@media only screen and (min-width: 960px) and (max-width: 1240px) {
	
.search input[type="text"]
{
	
	width:170px;

}


}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.menu  li a
{
	font-size:12px;
}
.brand
{
	width:110px;
	background:url(../img/1.jpg) top left;
	background-size:cover;
	
	
}
.search input[type="text"]
{
	font-size:12px;
	width:85px;
	height:30px;
}
.search input[type="submit"]
{
	text-align:left;
	width:50px;
	font-size:10px;
}
.trai
{
	
}
.trai img{
	width:100%;
	margin-top:15px;

}
.right
{
	float:right;
	
	
}
.right a p 
{
	
	
	margin-top:15px;
	font-size:12px;

}

.right h4
{
	
	font-size:13px;
}
.right a
{
	width:100px;
	font-size:10px;
}

}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {



.trai img{
	width:50%;
	margin-top:15px;

}
.right
{
	float:right;
	width:100%;
	
	
}
.right a p 
{
	
	
	margin-top:15px;
	

}

.footer_newsletter form #sbmit
{
	width:40%;
	border:1px solid #d28409;
	border-radius:5px;
	font-size:12px;
	color:#FFF;
	padding:22px;
	line-height:0px;
	margin-right:5px;
	background-color:#F5A019;
}
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
.new_product .cap
{
    float: right;
    width:100%;
}
.new_product .cap li{
}

.new_product .cap li a{
    font-size: 13px;
}
.footer_newsletter form #sbmit
{
	width:40%;
	font-size:9px;
	
	
	
	
	

}
}
